.Work {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.Work p {
    margin: 10px 0;
}

.Work #img {
    display: flex;
    justify-content: center;
    align-items: center;
}

